 

.container--inline-flex,
.container--flex {
  background-color: #64B5F6
;
  margin-bottom: 10px; /* just for aesthetics */
}

.container--flex {
  display: flex;
}
.container--inline-flex {
  display: inline-flex;
}
.flex-child {
  flex: 1;
  min-width: 50px;
  min-height: 50px;
  margin: 10px;
  background-color: #F06292;
;
}

.flex-color {
  color: #64B5F6;
;
}
.inline-color {
  color: #F06292;
;
}

/* Remaining styles are just to make the demo look nice */
body {
  font-family: 'Open Sans', sans-serif;
}
code {
  background-color: #EEEEEE;
  padding: 1px 5px;
}