* {
  box-sizing: border-box;
}

html {
  background-color: #fa923f;
  padding: 20px;
}

body {
  background-color: #ffff00;
  margin: 10px;
  border: 1px solid #000000;
  padding: 10px;
}

header {
  background-color: #f073e1;
  /* margin: 5px; */
  border: 1px solid #000000;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

nav {
  background-color: #0000ff;
  margin: 10px;
  border: 1px solid #000000;
  padding: 10px;
  position: relative;
  left: 20px;
  top: 20px;
}

footer {
  background-color: #00ffff;
    /* margin: 5px; */
    border: 1px solid #000000;
    padding: 10px;
}

.father {
  background-color: red;
  margin: 25px;
  padding: 15px;
  position: relative;
  
}
.son-absolute {
    background-color: green;
    /* margin: 5px; */
    border: 1px solid #000000;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.son-relative {
    background-color: chocolate;
    margin: 10px 10px 0 0;
    border: 1px solid #000000;
    padding: 10px;
    width: 200px;
    position: relative;
    left: 50px;
    top: 30px;
}
