#blog h3,
h4 {
  text-align: center;
}
#blog .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* elements that dont fit in one line go to next line*/
}

#blog article {
  margin: 15px;
}

#blog img {
  width: 100%;
  max-width: 280px;
}
